@charset "UTF-8";

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
    text-transform: none;
}

.reveal h1:first-letter {color: #e49436;}

.reveal pre code {color: #ddd;}

.reveal code {color: #f92672;}
