@charset "UTF-8";

.reveal h1:first-letter,
.reveal h2:first-letter,
.reveal h3:first-letter,
.reveal h4:first-letter {
    color: #e49436;
    text-transform: none;
}

.reveal pre code {color: #ddd;}

.reveal code {color: #f92672;}
